<section class="section">
    <div class="container">
        <p class="title">
            Manage requests
            <%= link_to 'Post New Request', new_request_path, class: 'button is-primary is- pulled-right' %>
        </p>

        <table class="table is-fullwidth">
            <thead class="is-centered">
            </thead>
        </table>
    </div>
</section>