<div class="field">
            <label class="label">Gig Title</label>
            <%= f.text_area :title, autocomplete: "title", class:"textarea" %>
        </div>
        <div class="field">
            <label class="label">Category</label>
            <%= f.select(:category_id, options_for_select(@categories.map{ |c| [c.name, c.id]})) %>
        </div>
        <div class="field is-grouped is-grouped-centered m-t-25">
            <a href="" class="button is-light">Cancel</a>
            <%= f.submit "Save & Continue", class:'button is-primary' %>
        </div>